<%# the style of 👇 below will insert the return value inside the ejs tags in
the html page as raw text %>
<%- include('partials/header') %>
<%# 👆 will get the html of the header.ejs template inside the view/partials folder
and replace line 3 with its contents %>

<h1>Welcome to the Demo!</h1>

<%- include('partials/footer') %>
